:root {
  --font-color: #eee;
  --aqua: #4ecdc4;
  --background-color: #2c001e;
  --border: #000;
  --outline-anime: #faa613;
  --roboto-font: "Roboto", cursive;
  --bungee-font: "Bungee Shade", sans-serif;
}
